#sidebar-wrapper
	%ul.sidebar-nav
		%li.sidebar-brand
			=link_to "Northshore Truck", root_path
			%li
				=link_to "About Northshore Truck", root_path
			%li
				=link_to "Replacement Bodies", ('replacementbodies')
			%li
				=link_to "Dump Bodies", ('dumpbodies')			
			%li
				=link_to "Chipper Bodies", ('chipperbodies')
			%li
				=link_to "Loaders", ('loaders')
			%li
				=link_to "Flatbeds", ('flatbeds')
			%li
				=link_to "Custom Bodies", ('custombodies')
			%li
				=link_to "Specialty Trailers", ('sptrailers')
			%li
				=link_to "Royal Cargo Trailers", ('RCtrailers')
			%li
				=link_to "Dumper Dogg Inserts", ('dummperdogg')
			%li
				=link_to "Services", ('services')
			%li
				=link_to "Products & Links", ('products_links')
			%li
				=link_to "Gallery", ('gallery')
			%li
				=link_to "Trucks & Equipment for Sale", ('forsale')
			%li
				=link_to "Contact Info", ('contact')