.container-fluid
	%h1.title-pages Contact Information
	%p.talkTop Please feel free to contact us with any questions of comments.
	%p.talk At Northshore Truck & Equipment, we work one-on-one with our customers. We prefer that you call us or stop in so that we can provide you with the service you deserve.
	%p.talk.underline We are located at:
	%p.talk <strong>29900 N. Skokie Hwy., Unit B<br>Lake Bluff, IL 60044<br><br>(847) 887-0200</strong>
	%p.talk.underline Office Hours
	%p.talk <strong>Monday - Friday, 8AM to 5PM<br>Saturdays 8AM to Noon</strong>
	%p.talk If you would like any additional information about our products or services, email us at: 
	.email
		=mail_to "info@northshoretruckequipment.com"
	%p.talkTop Get Directions
	#map
		%script{:src => "https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"}


