.container-fluid
	%h1.title-pages Contact Information
	%p.talkTop Please feel free to contact us with any questions of comments.
	%p.talk At Northshore Truck & Equipment, we work one-on-one with our customers. We prefer that you call us or stop in so that we can provide you with the service you deserve.
	%p.talk.underline We are located at:
	%p.talk <strong>29900 N. Skokie Hwy., Unit B<br>Lake Bluff, IL 60044<br><br>(847) 887-0200</strong>
	%p.talk.underline Office Hours
	%p.talk <strong>Monday - Friday, 8AM to 5PM<br>Saturdays 8AM to Noon</strong>
	%p.talk If you would like any additional information about our products or services, email us at: 
	.email
		=mail_to "info@northshoretruckequipment.com"
	%p.talkTop Get Directions
	.email
		<a href="https://www.google.com/maps/dir//Northshore+Truck+%26+Equipment,+29900+N+Skokie+Hwy+%23+B,+Lake+Bluff,+IL+60044/@42.296689,-87.8786267,17z/data=!4m16!1m7!3m6!1s0x880f93605d5a8af3:0xac4e1db900f7bb12!2sNorthshore+Truck+%26+Equipment!3b1!8m2!3d42.296689!4d-87.876438!4m7!1m0!1m5!1m1!1s0x880f93605d5a8af3:0xac4e1db900f7bb12!2m2!1d-87.876438!2d42.296689?hl=en" target="_blank">Get Directions here</a>
	#map
		:plain
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSk-hQSxJISg9NzFo7rSVCSBpmE5quX7g&callback=initMap">
			</script>


