.container-fluid
	%h1.title-pages TRUCKS & EQUIPMENT FOR SALE
	%p.talkTop Our inventory changes frequently. Check back often!
	.row.text-center
		=image_tag "Flatbeds2.jpg", id: "replacement"
	%p.talk <strong>NEW Flatbeds In Stock:</strong> All steel construction, diamond plate floor, stake pockets, rub rails, rear valance, tapered bulkhead: <strong>80" x 7'6" = $2000, 80" x 8'6" = $2100. Installation available.