.container-fluid.index-container
	%h4#sloan.col-sm-12 Building bodies to customer specification and beyond expectation since 1991.
	.about.col-sm-6.text-left
		%p Northshore Truck & Equipment is a full-service truck and equipment repair and fabrication facility conveniently located on Route 41 in Lake Bluff, IL.
		%p We are family owned and operated since 1991 and dedicated to customer service.
		%p At Northshore Truck and Equipment we understand that your business is unique.  We work closely with our customers to provide them with custom truck bodies that will best suit their individual needs.
		%p We stock a wide range of truck parts and carry products by such companies as Pulltarps, Tafco, Pioneer, American Roll-Off, Thieman, TruckCraft, RKI, Rugby, US Tarp, Buyers Products, Scott and Maxi Dump.
		%p Our full-service shop offers maintenance and mechanical repairs, sandblasting and painting, frame lengthening and shortening, modification of of existing bodies and much, much more.
	.about.col-sm-6
		=image_tag "ForestBuilders5.jpg"
		%p Want to get in touch to offer comments and join our mailing list? E-mail us at:
		=link_to "info@northshoretruckequipment.com"
		=image_tag "NETALogo.jpg"
		=image_tag "ilcalogo.jpg"


