.container-fluid
	%h1.title-pages Products & Links
	.products.col-lg-4.col-sm-6
		=link_to image_tag("RCLogo.gif"), "http://www.rctrailers.com/",  {target: "_blank"}
	.products.col-lg-4.col-sm-6
		=link_to image_tag("RKILogo.JPG"), "http://www.rki-us.com/",  {target: "_blank"}
	.products.col-lg-4.col-sm-6
		=link_to image_tag("PulltarpsLogo.jpg"), "http://www.pulltarps.com/",  {target: "_blank"}
	.products.col-lg-4.col-sm-6
		=link_to image_tag("DumperDoggLogo.jpg"), "http://www.dumperdogg.com/",  {target: "_blank"}
	.products.col-lg-4.col-sm-6
		=link_to image_tag("ThiemanLogo.JPG"), "http://www.thieman.com/",  {target: "_blank"}
	.products.col-lg-4.col-sm-6
		=link_to image_tag("RigidHitchLogo.jpg"), "http://rigidhitch.com/",  {target: "_blank"}
	.products.col-lg-4.col-sm-6
		=link_to image_tag("Weatherhead.jpg"), "http://www.eaton.com/Eaton/ProductsServices/Hydraulics/index.htm",  {target: "_blank"}
	.products.col-lg-4.col-sm-6
		=link_to image_tag("USTarpLogo.JPG"), "http://www.ustarp.com/",  {target: "_blank"}
	.products.col-lg-4.col-sm-6
		=link_to image_tag("snowHawgLogo.jpg"), "http://www.snowhawg.com/",  {target: "_blank"}
	.products.col-lg-4.col-sm-6
		=link_to image_tag("TafcoLogo.jpg"), "http://www.tafcoequip.com/",  {target: "_blank"}
	.products.col-lg-4.col-sm-6
		=link_to image_tag("PioneerCoverAll.jpg"), "http://www.pioneercoverall.com/",  {target: "_blank"}
	.products.col-lg-4.col-sm-6
		=link_to image_tag("PaceLogo.JPG"), "http://www.pacelink.com/",  {target: "_blank"}
	.products.col-lg-4.col-sm-6
		=link_to image_tag("RugbyLogo.JPG"), "http://www.rugbymfg.com/",  {target: "_blank"}
	.products.col-lg-4.col-sm-6
		=link_to image_tag("ScottLogo.JPG"), "http://www.tafcoequip.com/",  {target: "_blank"}
	.products.col-lg-4.col-sm-6
		=link_to image_tag("SnoWayLogo.JPG"), "http://www.snoway.com/",  {target: "_blank"}
