.container-fluid
	%h1.title-pages Royal Cargo Trailers
	%p.talkTop Trailers can be ordered to any specification. Financing available.
	%p.list-pages <strong>RC Trailers, Inc.</strong> manufactures high-quailty cargo, aluminum, and specialty trailers.
	%p.list-pages Steel cargo trailers feature:
	%ul.list-pages
		%li Torsion or Spring Axles
		%li	3/4" Advantech Flooring
		%li 3/8" Plywood Walls
		%li Undercoated Frame
		%li Dome Lights with Switch
		%li 24" ATP Stoneguard
		%li Brite Front Corners
		%li 2000 lb. Jack with Sand Pad
	%p.list-pages Our stock steel cargo trailers also include upgrades such as 16" on-center cross members in the floor, a 6'6" interior height, an extended 3-rail tongue, ramp door and roof vents.
	%p.talkTop For a full list of models, specs, and options; please visit <a href="http://www.rctrailers.com">RC Trailers.</a>
#myCarousel.carousel.slide{"data-ride" => "carousel"}
	%ol.carousel-indicators
		%li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
		%li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
		%li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
		%li{"data-slide-to" => "3", "data-target" => "#myCarousel"}
	.carousel-inner{"role" => "listbox"}
		.item.dump.active
			=image_tag "rc1.jpg"
		.item.dump
			=image_tag "rc2.jpg"
		.item.dump
			=image_tag "rc3.jpg"
		.item.dump
			=image_tag "rc4.jpg"
	%a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
		%span.glyphicon.glphicon-chevron-left{"aria-hidden" => "true"}
		%span.sr-only Previous
	%a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
		%span.glyphicon.glphicon-chevron-right{"aria-hidden" => "true"}
		%span.sr-only Next