.container-fluid
	%h1.title-pages Replacement Bodies
	%p.talkTop Save your truck, don't replace it.  If your truck is in good working condition, why not refresh it with a new replacement body?   A standard contractor body includes:
	%ul.list-pages
		%li REMOVAL AND DISPOSAL OF OLD BODY
		%li	INSTALLATION OF NEW BODY USING PRE-EXISTING HYDRAULIC SYSTEM
		%li 6" STRUCTURAL CHANNEL MAIN RAILS
		%li 3" STRUCTURAL CHANNEL CROSSMEMBERS
		%li 12" HIGH SIDES
		%li 20" TAILGATE
		%li ONE-PIECE BULKHEAD WITH 12' CAB PROTECTOR (WITH OR WITHOUT WINDOW)
		%li PRIME AND PAINT ONE CUSTOMER COLOR
		%li UNDERCOAT FRAME AND BODY
		%li PAINT FOR EXISTING HITCH
		%li ALL D.O.T. LIGHTING AND MUDFLAPS
	.row.text-center
		=image_tag "dump2.jpg", id: "replacement"
