.container-fluid
	%h1.title-pages Services
	%p.talkTop Our full-service shop will meet all of your repair needs.
	%p.talk Northshore Truck & Equipment has the experience and equipment to service trucks, trailers, chippers, stumpers, skid steers, and heavy equipment.
	%ul.list-pages
		%li Frame Work. We Repair, Lengthen, and Shorten Frames
		%li New Floors
		%li Tailgates
		%li Modification of Existing Bodies
		%li Maintenance and Mechanical Repairs
	%p.talk Repairing your own truck body? We can fabricate the pieces you need with our state-of-the-art 230 ton CNC press break.  Call for more information!
	%p.talkTop We make Weatherhead hydraulic hose assemblies.

	.row.text-center
		=link_to image_tag("Weatherhead.jpg"), "http://www.eaton.com/Eaton/ProductsServices/ProductsbyName/Weatherhead/index.htm", :target => '_blank'