//index page

.index-container {
	text-align: center;
}

#pic {
	boarder: solid 2px black;
}

.about {
	padding: 20px;
}

//dumptruck page

#myCarousel {
	margin: 0 auto;
	width: 75%;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    height: 400px;
}

