// Place all the styles related to the trucks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$navbarResting  : #CC0000;

.btn {
	width: 30px;
}

.footer {
	background-color: black;
	color: white;	
}

.header {
	background-color: $navbarResting;
	margin-top: 0;
	padding: 10px;
	color: white;
	padding-bottom: 50px;
}

#header-title {
	margin-top: 0;
}

#page-content-wrapper {
	padding: 0;
}