#sidebar-wrapper
	%ul.sidebar-nav
		%li.sidebar-brand
			%a{:herf => "#"} Northshore Truck
			%li
				%a{:href => "#"} Replacement Bodies
			%li
				%a{:href => "#"} Dump Bodies			
			%li
				%a{:href => "#"} Landscape Bodies
