#sidebar-wrapper
	%ul.sidebar-nav
		%li.sidebar-brand
			%a{:herf => "#"} Northshore Truck
			%li
				%a{:href => "#"} About Northshore Truck
			%li
				%a{:href => "#"} Replacement Bodies
			%li
				%a{:href => "#"} Dump Bodies			
			%li
				%a{:href => "#"} Chipper Bodies
			%li
				%a{:href => "#"} Loaders
			%li
				%a{:href => "#"} Flatbeds
			%li
				%a{:href => "#"} Custom Bodies
			%li
				%a{:href => "#"} Specialty Trailers
			%li
				%a{:href => "#"} Royal Cargo Trailers
			%li
				%a{:href => "#"} Dumper Dogg Inserts
			%li
				%a{:href => "#"} Services
			%li
				%a{:href => "#"} Products & Links
			%li
				%a{:href => "#"} Gallery
			%li
				%a{:href => "#"} Trucks & Equipment for Sale
			%li
				%a{:href => "#"} Contact Info